.container {
  margin: -8px;
  padding: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: antiquewhite;
}

.tricks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid gold;
  height: 20rem;
  width: 20rem;
  color: gold;
  padding: 10px 20px;
  font-size: 18px;
  box-shadow: 12px 8px 183px 58px gold;
}

.btn {
  background-color: red;
  border: none;
  height: 10px;
  width: 10px;
}

@media (max-width: 768px) {
  .btn {
    display: none;
  }
}
.tricks:hover {
  cursor: none;
}
